
<style>
  .brand-logo{
    margin-left: 10px;
  }
  #dotcom{
    font-weight: lighter;
  }
</style>


<nav>
    <div class="nav-wrapper">
      <a href="" routerLink="home" class="brand-logo">Confesiones.com</a>   
      <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="" routerLink="users/post-reading" >Muro</a></li>
        <!-- <li  ><a href="" routerLink="users/post-form" >Crear un post</a></li>   
        <li  ><a href="" routerLink="auth/login">Guardados</a></li>
        <li  ><a href="" routerLink="**">Opciones</a></li> -->
        <li id="userLogin"><a href="" routerLink="auth/login">Login</a></li>
        <li><span id="userLog"></span></li> 
        <!-- <li id="userLogin"><a href="" *ngIf="userData.role=='user'" routerLink="auth/login">Logout</a></li> -->
        
      </ul>


    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="" routerLink="users/post-reading" >Muro</a></li>
  <li><a href="" routerLink="users/post-form" >Crear un post</a></li>   
  <li><a href="" routerLink="auth/login">Login</a></li>

</ul>
          
<script>
</script>