<title>Login | Auth</title>

<style>
    h3{
        margin-bottom: 25px;
        margin-top: 25px;

    }
    .container{
        background-color: #ffcdd245;
        border-radius: 12px;
    }
    form{
        margin: 25px;
    }
    button{
        margin: 40px;
    }
</style>

<div class="container center-align">

        <div>

            <h2>Log In</h2>
            <form >

                <div>
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
                </div>


                <div>
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
                </div>

                <div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    </button>
                </div>

            </form>

        </div>
    

</div>