<title>Login | Auth</title>

<style>
    .headcito{
        color: gray;
        margin-bottom: 60px;  
    }
    #registerPage{
      color: gray;
      text-decoration: underline;
    }
    #registerPage:hover{
      color: rgb(65, 65, 65);
    }

  </style>
  
  <div class="container">
      <form class="col s12">
  
        <div class="headcito">
          <h3>Login</h3>
          <p>Accede al sistema y sus funcionalidades</p>
        </div>
  
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Usuario</label>
        </div>
  
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Contraseña</label>
        </div>
  
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light"  type="submit" name="action">Ingresar</button>
        </div>

        <div>
            <a href="" routerLink="/auth/register" id="registerPage">Registrarme</a>
        </div>
        
  
      </form>
  
  
    </div>