<title>Muro</title>

<div class="container">
  <div class="headcito">
    <h3>Muro</h3>
    <p>Busca, filtra y guarda las publicaciones</p>
    <ng-container *ngIf="user">
      <p>Hola, {{ user }}! Puedes guardar tus publicaciones favoritas</p>
    </ng-container>
  </div>

  <div class="row">
    <div class="col s12 l10">
      <div id="searchBox">
        <a class="btn-floating" id="iconSearch"
          ><i class="material-icons">search</i></a
        >
        <input type="text" id="inputBox" />
      </div>
    </div>
    <div class="col s12 l2">
      <a
        href=""
        class="waves-effect waves-light btn cls-add-button"
        routerLink="/users/post-form"
        ><i class="material-icons right">add</i>Nuevo</a
      >
    </div>
  </div>

  <div class="grid">
    <div class="row">
      <ng-container *ngFor="let item of postList">
        <div class="col l4">
          <div class="card cls-my-card">
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"
                >{{ item.title
                }}<i class="material-icons right cls-icon-save" *ngIf="user" (click)="savePost()">bookmark</i></span
              >
              <p>{{ item.category }}</p>
              <p>{{ item.text }}</p>
              <p>{{ item.publishedDate }}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
